html,body {
    height: 100%; 
/*    overflow-y: hidden;*/
}

.container-fluid{
    height:100%;
    background-image: url(images/mountain1.png);
    padding-top: 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover    
}

.start{
    color: aliceblue
}

.navbar{
    height:10vh;
    background-color: #122939;
    padding:0;
    padding-left: 10px;
}

.navbar li a{ 
    color: aliceblue!important;
    font-family: 'Comic Sans MS', cursive;
    font-size:18px;
}

.navbar li a:hover { 
    color: black!important;
}

#name{
    color: aliceblue;
    font-family: 'Comic Sans MS', sans-serif;
}

